<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Liste des employées</h4>
                      <p class="card-category"> Vous trouvez ici l'archive du staff </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nom
                                  </th>
                                  <th>
                                      Adresse
                                  </th>
                                  <th>
                                      Grade
                                  </th>
                                  <th>
                                      Action
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let user of users">
                                      <td>
                                          {{user.id}}
                                      </td>
                                      <td>
                                          {{user.nom}}
                                      </td>
                                      <td>
                                          {{user.adresse}}
                                      </td>
                                      <td>
                                          {{user.grade}}
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        
      </div>
  </div>
</div>
