<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Supervision</h3>
              <p class="card-category">Supervision de la chambre
            
              </p>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="card-title">Chambre</h4>
                      <div class="alert alert-info">
                          <span>Visualisation de temperature</span>
                      </div>
                      <div >
                        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1361435/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
                    </div>
                 
                 
                  </div>
                  <div class="col-md-6">
                      <h4 class="card-title">Visualisation d'humidité</h4>
                      <div>
                        <div class="alert alert-info">
                            <span>Visualisation de humidité</span>
                        </div>
                          <span>
                            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1361435/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Suivie+humidit%C3%A9&type=line"></iframe>
                        </span>
                      </div>
                    
                     
                  </div>
              </div>
          </div>
        
      </div>
  </div>
</div>
